@import "../../sass/variables";


.main {
    // background-color: lightgray;
    position: relative;
    height: 100vh;
    width: inherit;
    padding: 0;
    margin: 0;

    font-family: $font-secondary;
    // text-transform: uppercase;

    img {
        cursor: pointer;

        &.no-pointer {
            cursor: default !important;
        }
    }

    .top-bar {
        min-height: 50px;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100vw;
        padding: 0;
        margin: 0;

        .logo {
            width: 10em;
            margin-left: $space-02;
        }
    }

    .fade-in {
        opacity: 0; /* Start hidden */
        animation-name: fadeIn;
        animation-duration: 0.5s; /* How long the fade takes */
        animation-delay: 2s; /* How long to wait before fading in */
        animation-fill-mode: forwards; /* Stay at the end state */
    }

    .about-section {
        margin-top: $space-02;
        margin-bottom: $space-02;
        height: 100vh;

        .about-img {
            height: 100vh;

            &-container {
                overflow: hidden;
            }
        }

        .contact-link {
            color: #ffc00a;
            text-decoration: underline;
            cursor: pointer;
        }

        .contact-media-btn {
            cursor: pointer;
        }
    }

    .contact-section {
        margin-top: $space-02;
        // margin-bottom: $space-02;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        .contact-media-btn {
            cursor: pointer;
        }

        .contact-img {
            height: 30em;
            margin-right: $space-04;

            &-container {
                overflow: hidden;
                border: 1px solid red;
            }
        }

        .contact-container {
            // border: 1px solid red;
            width: 100%;
        }

        .contact-form-container {
            // border: 1px solid yellow;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .contact-form {
            // border: 1px solid green;
            width: 100%;
        }
    }
}

a {
    color: $text-color;
}

.nav-btn {
    cursor: pointer;
    transition: $transition;

    &:not(:hover) {
        animation: none;
    }
    &:hover {
        animation: bob 1.5s ease-in-out infinite;
    }
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); // adjust bob height here
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




// $profile-size: 33em;

// .main {
//     font-family: $font-secondary;
//     color: $text-color;
//     font-weight: bold;
//     font-size: $text-00;

//     &-content {
//         margin-top: 4.5em;
//         height: 100vh;
//     }

//     .profile-pic {
//         border: 1px solid black;
//         border-radius: 100%;
//         margin-top: 5em;
//         height: $profile-size;
//         width: $profile-size;
//     }

//     .logo {
//         width: 15em;

//         &:hover {
//             cursor: pointer;
//         }
//     }

//     .tagline{
//         font-size: $text-02;
//     }

//     .bio {
//         margin-top: 5em;
//     }

//     .spacer {
//         margin-top: 5em;
//         margin-bottom: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }
//     .spacer-top {
//         margin-top: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }
//     .spacer-bottom {
//         margin-top: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }



//     .top-bar {
//         // background-color: $ghana-bg;
//         display: flex;
//         justify-content: center;
//         background-color: $bg;

//         &-container {
//             position: fixed;
//             width: 100%;
//             left: 0;
//             top: 0;
//             z-index: 99;
//         }
//     }
// }