@import "../../sass/variables";


.main {
    // background-color: lightgray;
    height: 100vh;
    width: inherit;
    padding: 0;
    margin: 0;

    font-family: $font-secondary;


    .about-section {
        margin-top: $space-02;
        margin-bottom: $space-02;
        height: 100vh;

        .about-img {
            height: 100vh;

            &-container {
                overflow: hidden;
            }
        }

        .contact-link {
            color: $ghana-yellow;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


.nav-btn {
    cursor: pointer;
    transition: $transition;

    &:not(:hover) {
        animation: none;
    }
    &:hover {
        animation: bob 1.5s ease-in-out infinite;
    }
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); // adjust bob height here
    }
}




// $profile-size: 33em;

// .main {
//     font-family: $font-secondary;
//     color: $text-color;
//     font-weight: bold;
//     font-size: $text-00;

//     &-content {
//         margin-top: 4.5em;
//         height: 100vh;
//     }

//     .profile-pic {
//         border: 1px solid black;
//         border-radius: 100%;
//         margin-top: 5em;
//         height: $profile-size;
//         width: $profile-size;
//     }

//     .logo {
//         width: 15em;

//         &:hover {
//             cursor: pointer;
//         }
//     }

//     .tagline{
//         font-size: $text-02;
//     }

//     .bio {
//         margin-top: 5em;
//     }

//     .spacer {
//         margin-top: 5em;
//         margin-bottom: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }
//     .spacer-top {
//         margin-top: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }
//     .spacer-bottom {
//         margin-top: 5em;

//         &-sm {
//             margin-top: 2em;
//             margin-bottom: 2em;
//         }
//     }



//     .top-bar {
//         // background-color: $ghana-bg;
//         display: flex;
//         justify-content: center;
//         background-color: $bg;

//         &-container {
//             position: fixed;
//             width: 100%;
//             left: 0;
//             top: 0;
//             z-index: 99;
//         }
//     }
// }