@import "../../sass/variables";


.horiz-gal-container {
    position: relative;
    height: 100%;
}

.horiz-gal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    // transition: $transition;
    transition: 1s ease-in-out;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
        display: none;
    }

    &-loading {
        opacity: 0;
    }

    &-down-arrow {
        // positioning...
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        // style...
        color: $text-color-alt;
        // transform: scaleX(1.45);
        cursor: pointer;
        transition: $transition;

        &:not(:hover) {
            animation: none;
        }
        &:hover {
            animation: centered-bob 1.5s ease-in-out infinite;
        }
    }
}

.horiz-gal-img {
    max-height: 100vh;
    margin-right: $space-02;

    // &:first-child {
    //     margin-left: $space-02;
    // }
    &:last-child {
        margin-right: none;
    }
}


@keyframes centered-bob {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, calc(-50% - 5px)); // adjust bob height here
    }
}



.horiz-gal-logo-container {
    // border: 2px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 98; // ensure it's above other content
    transition: 2.5s;
    pointer-events: none;

    &.fade-out {
        opacity: 0;
    }
}

.horiz-gal-logo {
    pointer-events: none;
    opacity: 0;
    animation: pulseGrow 2.5s ease-in-out infinite;
}

@keyframes pulseGrow {
  0% {
    opacity: .6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.04); /* very slight grow */
  }
  100% {
    opacity: .6;
    transform: scale(1);
  }
}