@import "../../sass/variables";


.horiz-gal-container {
    position: relative;
    height: 100%;
}

.horiz-gal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    transition: $transition;

    &-loading {
        opacity: 0;
    }

    &-down-arrow {
        // positioning...
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        // style...
        color: $text-color-alt;
        // transform: scaleX(1.45);
        cursor: pointer;
        transition: $transition;

        &:not(:hover) {
            animation: none;
        }
        &:hover {
            animation: centered-bob 1.5s ease-in-out infinite;
        }
    }
}

.horiz-gal-img {
    max-height: 100vh;
    margin-right: $space-02;

    // &:first-child {
    //     margin-left: $space-02;
    // }
    &:last-child {
        margin-right: none;
    }
}


@keyframes centered-bob {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, calc(-50% - 5px)); // adjust bob height here
    }
}
