@import "../../sass/variables";

.ghana-border-layer-1 {
    border-bottom: 1px solid $ghana-red;
}
.ghana-border-layer-2 {
    border-bottom: 1px solid $ghana-yellow;
}
.ghana-border-layer-3 {
    border-bottom: 1px solid $ghana-green;
}