@import "../../sass/variables";

$gap: $space-02;
$gap-mobile: 1px;


.gallery {
    // padding-left: $gap;
    // padding-right: $gap;
    column-count: 3; /* number of columns */
    column-gap: $gap;

    .gallery-item {
        width: 100%;
        margin-bottom: $gap;
        display: block;
        object-fit: cover;
        // border-radius: $radius;

        @media (max-width: 767.98px) {
            margin-bottom: $gap-mobile;
            border-radius: 4px;
        }
    }

    /* Mobile (less than 576px) */
    @media (max-width: 767.98px) {
        column-gap: $gap-mobile;
        column-count: 3;
    }
}