@import "../../sass/variables";

$gap: 1px;


.gallery {
    column-count: 3; /* number of columns */
    column-gap: $gap;

    .gallery-item {
        width: 100%;
        margin-bottom: $gap;
        display: block;
        object-fit: cover;
    }
}