@import "./sass/variables";
// @import "./sass/utils";
// @import "./sass/type";
// @import "./sass/ui";
// @import "./sass/anim";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  // overflow: hidden !important;
}

.App {
  background: $bg;
  height: 110vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  padding-bottom: 0;
}


@import "./screens/Main/main.scss";
